html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  
}
body {
  background: #212635;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#content {
  height: auto;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-size: cover;
  background-position: center;

  box-sizing: border-box;
  padding: 40px 0px 0px 0px;
}

/* NAME CUSTOMIZATION */
#name {
  font-size: 5.5em;
  text-align: center;
  color: bisque;
  margin-top: 25px;
  /* animation: fadeIn 1s ease-in; */
}

/* https://www.w3schools.com/css/css_link.asp */
#namelink {
  text-decoration: none;
  color: bisque;
}

#namelink:visited {
  color: bisque;
}

/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor */
#namelink:hover {
  color: bisque;
  cursor: default;
}
/* END OF NAME CUSTOMIZING */

/* NAVBAR */

#navbar {
  text-align: center;
}

#navbar p {
  font-size: 30px;
  color: bisque;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  animation: fadeIn 1s ease-in;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: border-bottom 300ms;
}

#navbar #about {
  margin-right: 200px;
}

#navbar #contact {
  text-align: center;
}

#navbar #about:hover {
  border-bottom: 2px solid bisque;
  cursor: pointer;
}

#navbar #contact:hover {
  border-bottom: 2px solid bisque;
  cursor: pointer;
}
/* END OF NAV BAR */

/* THE PART WHERE IT SAYS "CSULA COMPSCI STUDENT" */
#innercontent {
  color: pink;
  text-align: center;
  padding: 15% 0% 28% 0%;
  animation: fadeIn 1s ease-in;
  flex: auto;
}

/* ABOUT SECION */
#AboutSection {
  background: #212635;
  background-size: cover;
  padding: 20% 10% 10% 10%;
  text-align: center;
}

#AboutSection h2 {
  color: bisque;
  font-size: 40px;
  padding: 0;
  margin-top: -5.3%;
}
/* END OF ABOUT SECTION */

#ContentSection {
  background: #212635;
  background-size: cover;
  padding: 20% 10% 20% 10%;
  text-align: center;
}

#ContentSection h2 {
  color: bisque;
  font-size: 40px;
  padding: 0;
  margin-top: -5.3%;
}

#ContentSection hr {
  /* border: 1px solid coral; */
  border: 1px;
  clear: both;

  width: 96%;
  background-color: #ffff00;
  height: 1px;
}

.connect {
  text-decoration: underline;
  color: rgb(240, 97, 240);
}

@media screen and (max-width: 1150px) {
  /* #navbar p {
    font-size: 25px;
    margin-top: -120px;
  }

  #navbar #about {
    margin-right: 60%;
    margin-top: -15%;
  }

  #navbar #contact {
    margin-right: 32%;
    margin-top: -15%;
  } */

  #name {
    font-size: 5.5em;
    padding: 5px;
  }

  #innercontent {
    padding: 20% 0% 40% 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#goTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: grey;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  outline: none;
  animation: fadeIn 1s;
}
